html {
  font-size: 10px; }

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.45;
  letter-spacing: 0.22px; }

.wrapper {
  display: flex;
  flex-direction: column;
  position: relative; }

.banner {
  width: 100%;
  height: 100vh; }

.banner__block {
  padding: 5rem 0 2rem; }

.btn {
  outline: none;
  border: none;
  cursor: pointer; }

.container {
  width: 100%;
  padding: 0 25px; }

.header {
  position: absolute;
  width: 100%; }

.header_block {
  padding: 3rem 0;
  display: flex;
  justify-content: flex-end; }

.login_block {
  display: flex;
  align-items: center; }

.login-btn {
  padding: 0.8rem 5rem 1rem;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 3rem;
  transition: all 0.3s;
  cursor: pointer; }
  .login-btn:hover {
    transform: scale(1.05); }

.slider {
  position: fixed;
  bottom: 2rem;
  width: 100%; }

.slider-container {
  display: flex;
  justify-content: center; }

.slider--item {
  margin: 0 .5rem;
  background-color: white;
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer; }
  .slider--item:hover .slider-description__block {
    visibility: visible;
    opacity: 1; }
  .slider--item:hover .slider-background {
    transform: scale(1.2); }

.slide-active {
  border: 1px solid greenyellow; }

.slider__block {
  position: relative;
  width: 200px;
  height: 125px; }

.slider-description__block {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s linear,  opacity 0.2s linear;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  box-shadow: 0px 14px 20px -8px rgba(0, 0, 0, 0.75);
  padding: 1rem;
  z-index: 2;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px; }

.slider-title {
  font-size: 2rem;
  color: white;
  font-weight: 600; }

.slider-background {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: all 1s;
  z-index: 0; }

.coming-soon__slider--item {
  background-image: url(../assets/images/coming-soon.png); }

.caesar-cipher__slider--item {
  background-image: url(../assets/images/caesar-cipher.png); }

.repeat-after-me__slider--item {
  background-image: url(../assets/images/repeat-after-me.png); }

.word-counter__slider--item {
  background-image: url(../assets/images/word-counter.png); }

.home__banner {
  background: linear-gradient(to right, #fc5c7d, #6a82fb); }

.caesar-cipher__banner {
  background: linear-gradient(to right, #333333, #dd1818); }

.repeat-after-me__banner {
  background: linear-gradient(to right, #c9d6ff, #e2e2e2); }

.word-counter__banner {
  background: linear-gradient(to right, #00f260, #0575e6); }

.coming-soon__banner {
  background: linear-gradient(to right, #3c3b3f, #605c3c); }
